requests
opencv-python
nuitka
python-dotenv
pyscreenshot
pillow
keyboard
pygetwindow
imutils
numpy
pywin32
psutil
py-cpuinfo
#GPUtil ( distutils needed - Deprecated since version 3.10, removed in version 3.12. )